.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.226)),
    url("../../public/assets/hero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.hero  .header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 1em;
}

.hero .header .nav{
    list-style-type: none;
    display: flex;
}

.hero .header .nav li{
    margin-right:2em ;
    
}

.hero .box{
    width:30%;
    padding: 10px;
    text-align: center;
    margin: 20em  auto 0 auto;
    border: 5px solid #eaeaea;
    box-shadow:1px 1px 15px rgb(26, 131, 108);
    text-shadow: 1px 1px 10px #fff;
}