.equipment{
    margin-top: 2em;
    text-align: center;
   }
   .equipment h1{
       margin: 2em;
   }
.equipment .grid{
   width: 85%;
    margin: 0 auto;
    display:grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;

}

.equipment .grid .box{
    width: 310px;
    height: 210px;
    padding: 10px;
    transition: padding 200ms;
}
.equipment .grid .box img{
    display: block;
    box-shadow: 1px 1px 10px #000;
}
.equipment .grid .box:nth-child(1):hover{
    padding: 5px;
}
.equipment .grid .box:nth-child(2):hover{
    padding: 5px;
}

.equipment .grid .box:nth-child(3):hover{
    padding: 5px;

}